.example-header-image {
    background-image: url('src\assets\assign.png');
    background-size: cover;
  }
  .responsive {
    max-width: 20%;
    height: auto;
  }
  .example-full-width {
    width: 100%;
  }
